<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- 从手机/data/data/com.valvesoftware.android.steam.community/files/Steamguard-*文件中找到的shared_secret值 -->
        <add key="SharedSecret" value="" />
        
        <!-- 填写Steam令牌验证码的窗口标题 -->
        <add key="TargetWindowTitle" value="Steam 令牌 - 电脑需要授权" />
        
        <!-- 检查当前活动窗口标题的时间间隔 -->
        <add key="CheckInterval" value="1000" />
    </appSettings>
</configuration>
